<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item" routerLink='/admin'>
              Admin
            </a>
            <a class="navbar-item">
              Documentation
            </a>
            <cart-summary></cart-summary>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Sports Store
      </h1>
      <h2 class="subtitle">
        High Quality Products
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li [class.is-active]="cat == selectedCategory">
            <a (click)="changeCategory()">Home</a>
          </li>
          <li *ngFor="let cat of categories" [class.is-active]="cat == selectedCategory">
            <a (click)="changeCategory(cat); selectedPage = 1">{{ cat }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div *ngFor="let product of products" class="column is-half-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ product.name }}</p>
                <p class="subtitle is-6">{{ product.price | currency:"USD":"symbol":"2.2-2"}}</p>
              </div>
            </div>
            <div class="content">
              {{ product.description }}
            </div>
            <div class="content">
              <button class="button" (click)="addProductToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <nav class="pagination" role="navigation" aria-label="pagination">
      <!--
      <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
      <a class="pagination-next" >Next page</a>
      -->
      <ul class="pagination-list">
        <li *ngFor="let pageNumber of pageNumbers">
          <a class="pagination-link" aria-label="Page 1" aria-current="page" [class.is-current]="pageNumber == selectedPage" (click)="changePage(pageNumber)">{{ pageNumber }}</a>
        </li>
      </ul>
    </nav>
  </div>
</section>
